.profile {
    display: inline-block;

    width: 2rem;
    height: 2rem;

    margin-right: 1ch;

    box-sizing: border-box;

    border: 1px solid #fff;
    border-radius: 50%;

    background-image: url(../../images/image-avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile--active:hover {
    border: 2px solid var(--color-nft-value);

    transition: .1s;

    cursor: pointer;
}